<div class="form--container" mat-dialog-content>
  <form novalidate [formGroup]="formCtrl">
    <lib-form-section
      title="{{ 'secretTable.newSecretCaps' | translate }}"
      text="{{ 'secretTable.newSecretDesc' | translate }}"
      icon="fa:fas:hdd"
    >
    </lib-form-section>

    <!--Name / Namespace-->
    <lib-form-name-namespace-inputs
      [nameControl]="formCtrl.get('name')"
      [namespaceControl]="formCtrl.get('namespace')"
      resourceName="Secret"
      i18n-resourceName
      [existingNames]="secretNames"
    >
    </lib-form-name-namespace-inputs>

    <!--Secret Type-->
    <mat-form-field
      appearance="outline"
      class="wide"
    >
      <mat-label>{{ 'secretTable.selectSecretType' | translate }}</mat-label>
      <mat-select formControlName="secretType">
        <mat-option [value]="Opaque">{{ 'secretTable.secretTypeOpaque' | translate }}</mat-option>
        <mat-option [value]="ServiceAccountToken">{{ 'secretTable.secretTypeSA' | translate }}</mat-option>
        <mat-option [value]="TLS">{{ 'secretTable.secretTypeTLS' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-checkbox formControlName="isSync">{{ 'secretTable.syncNamespace' | translate }}</mat-checkbox>
    </div>
    
    <mat-label>{{ 'secretTable.secret_data' | translate }}</mat-label>
    <app-list-key-value
      #data
      [formArray]="formCtrl.get('data')"
      addButtonText="{{ 'secretTable.add_secret_data' | translate }}"
      keyLabel="{{ 'secretTable.keylable' | translate }}"
      valueLabel="{{ 'secretTable.valuelable' | translate }}"
    ></app-list-key-value>

    <button
    mat-raised-button
    color="primary"
    class="form--button-margin"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!formCtrl.valid || blockSubmit"
    >
      {{ 'common.createCaps' | translate }}
    </button>

    <button mat-raised-button type="button" (click)="onCancel()">
      {{ 'common.cancelCaps' | translate }}
    </button>
  </form>
</div>
