<div class="form--container" mat-dialog-content>
  <form novalidate [formGroup]="formCtrl">
    <lib-form-section
      title="{{ 'configMapTable.newConfigMapCaps' | translate }}"
      text="{{ 'configMapTable.newConfigDesc' | translate }}"
      icon="fa:fas:hdd"
    >
    </lib-form-section>

    <!--Name / Namespace-->
    <lib-form-name-namespace-inputs
      [nameControl]="formCtrl.get('name')"
      [namespaceControl]="formCtrl.get('namespace')"
      resourceName="ConfigMap"
      [existingNames]="configMapNames"
    >
    </lib-form-name-namespace-inputs>

    <div>
      <mat-checkbox formControlName="isSync">{{ 'configMapTable.sync_namespace' | translate }}</mat-checkbox>
    </div>
    
    <app-list-key-value
      #data
      [formArray]="formCtrl.get('data')"
      addButtonText="{{ 'configMapTable.add_configmap_data' | translate }}"
      keyLabel="{{ 'configMapTable.keylable' | translate }}"
      valueLabel="{{ 'configMapTable.valuelable' | translate }}"
    ></app-list-key-value>
    
    <button
    mat-raised-button
    color="primary"
    class="form--button-margin"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!formCtrl.valid || blockSubmit"
    >
    {{ 'common.createCaps' | translate }}
    </button>

    <button mat-raised-button type="button" (click)="onCancel()">
      {{ 'configMapTable.deleteDialogNo' | translate }}
    </button>
  </form>
</div>
