<div class="form--container" mat-dialog-content>
  <form novalidate [formGroup]="formCtrl">
    <lib-form-section
      title="{{ 'configTable.newConfigCaps' | translate }}"
      text="{{ 'configTable.newConfigDesc' | translate }}"
      icon="fa:fas:hdd"
    >
    </lib-form-section>

    <!--Name / Namespace-->
    <lib-form-name-namespace-inputs
      [nameControl]="formCtrl.get('name')"
      [namespaceControl]="formCtrl.get('namespace')"
      resourceName="Configuration"
      i18n-resourceName
      [existingNames]="configurationNames"
    >
    </lib-form-name-namespace-inputs>

    <div>
      <mat-checkbox formControlName="isSync">{{ 'configTable.sync_namespace' | translate }}</mat-checkbox>
    </div>
    
    <mat-form-field
      appearance="outline"
      class="wide"
    >
      <mat-label>{{ 'configTable.config_desc' | translate }}</mat-label>
      <input matInput formControlName="desc" type="text" />
    </mat-form-field>
    
    <mat-label>{{ 'configTable.notebook_env' | translate }}</mat-label>
    <app-list-key-value
      #envs
      [formArray]="formCtrl.get('envs')"
      [fromLabels]=secrets
      (selectionChange)="onSelectionChange($event)"
      addButtonText="{{ 'configTable.env_button_text' | translate }}"
      keyLabel="{{ 'configTable.keylable' | translate }}"
      fromLabel="{{ 'configTable.fromlable' | translate }}"
      valueLabel="{{ 'configTable.valuelable' | translate }}"
    ></app-list-key-value>

    <mat-label>{{ 'configTable.notebook_configfile' | translate }}</mat-label>
    <app-list-key-value
      #volumes
      [formArray]="formCtrl.get('volumes')"
      [fromLabels]=configmaps
      (selectionChange)="onNBSelectionChange($event)"
      addButtonText="{{ 'configTable.config_button_text' | translate }}"
      keyLabel="{{ 'configTable.keylable' | translate }}"
      fromLabel="{{ 'configTable.fromlable' | translate }}"
      valueLabel="{{ 'configTable.valuelable' | translate }}"
      pathLabel="{{ 'configTable.pathlable' | translate }}"
      valueMultSelect=true
    ></app-list-key-value>

    <button
    mat-raised-button
    color="primary"
    class="form--button-margin"
    type="submit"
    [disabled]="!formCtrl.valid || blockSubmit"
    (click)="onSubmit()"
    >
      {{ 'common.createCaps' | translate }}
    </button>

    <button mat-raised-button type="button" (click)="onCancel()">
      {{ 'common.cancelCaps' | translate }}
    </button>
  </form>
</div>
