<label id="access-mode-label" class="form-title">{{ 'volume.mode' | translate }}</label>
<mat-radio-group [formControl]="mode" aria-labelledby="access-mode-label">
  <mat-radio-button value="ReadWriteOnce">
    {{ 'volume.optReadWriteOnce' | translate }}
  </mat-radio-button>

  <mat-radio-button value="ReadOnlyMany">{{ 'volume.optReadOnlyMany' | translate }}</mat-radio-button>

  <mat-radio-button value="ReadWriteMany">
    {{ 'volume.optReadWriteMany' | translate }}
  </mat-radio-button>
</mat-radio-group>
